<!DOCTYPE html>
<html>
<script src="angular.min.js"></script>
<!--
<script src="ui-bootstrap-tpls-0.13.3.js"></script>
<link href="bootstrap.min.css" rel="stylesheet">
-->
<body>

<div ng-app="ikea" ng-controller="productCtrl">
 
<h1> IKEA WUXI </h1>
<h2>Order ID: {{getOrderId()}}<h2>
<p>Name : <input type="text" ng-model="name"></p>
<p>Address : <input type="text" ng-model="address"></p>
<p>Phone : <input type="text" ng-model="phone"></p>
<p>Date : <input type="date" ng-model="date"></p>

<h2>Regular Products</h2>
<table>
    <tr>
        <th> Part </th>
        <th> Size </th>
        <th> Area </th>
        <th> Method </th>
        <th> Cost </th>
        <th> No. </th>
        <th> Picture </th>
    </tr>
    <tr ng-repeat="p in regularProducts">
        <td>
            <input list="parts" ng-model="p.part"></input>
            <datalist id="parts">
              <option ng-repeat="x in data.parts" value="{{x}}"/>
            </datalist>  
        </td>
        <td><input type="text" ng-model="p.size"></td>
        <td><input type="number" ng-model="p.area" min="0" ng-change="updateRegularProductCost($index)"></td>
        <td>
            <input list="methods" ng-model="p.method" ng-change="updateRegularProductCost($index)"></input>
            <datalist id="methods">
              <option ng-repeat="m in Methods" value="{{m}}"/>
            </datalist>  
        </td>
        <td><input type="number" ng-model="p.cost" min="0"></td>
        <td><input type="text" ng-model="p.no"></td>
        <td><img height="256" width="192" ng-src="image/{{p.no}}.jpg" alt="Image Not Found"/></td>
        <td ng-click="removeRegularItem($index)"> X </td>
    </tr>
</table>
<button ng-click="addRegularItem()">Add</button>

<h2>Hard Products</h2>
<table>
    <tr>
        <th> Part </th>
        <th> Type </th>
        <th> No </th>
        <th> Width </th>
        <th> Height </th>
        <th> Square </th>
        <th> Cost </th>
    </tr>
    <tr ng-repeat="p in hardProducts">
        <td>
        <input list="parts" ng-model="p.part"></input>
            <datalist id="parts">
              <option ng-repeat="x in data.parts" value="{{x}}"/>
            </datalist>   
        </td>
        <td>
        <input list="types" ng-model="p.type"></input>
            <datalist id="types">
              <option value="Aluminum Louvers">
              <option value="Roman curtain">
              <option value="Wood blinds">
            </datalist>  
        </td>
        <td><input type="text" ng-model="p.no"></td>
        <td><input type="text" ng-model="p.width" ng-change="updateHardProductCost($index)"></td>
        <td><input type="text" ng-model="p.height" ng-change="updateHardProductCost($index)"></td>
        <td>{{p.height*p.width | number: 1}}</td>
        <td><input type="number" ng-model="p.cost" min="0"></td>
        <td ng-click="removeHardItem($index)"> X </td>
    </tr>
</table>

<button ng-click="addHardItem()">Add</button>

<br></br>
<h2>{{statusCode}}{{data}} Total Cost: {{getTotal()}}</h2>
<br></br>
<button ng-click="printPage()">Print</button>
</div>
<br></br>
<br></br>
<script>
var app = angular.module('ikea', []);
app.controller('productCtrl', function($scope, $http) {
    
    $scope.statusCode = 123;
    $scope.data = "xyz";
    
    $http.get("http://localhost:8080/io?get").then(function(response) {
        $scope.statusCode = response.status;
        $scope.data = response.data;
        
        $scope.Methods = Object.keys($scope.data.methodsPrice);
    });
    
    $scope.getOrderId = function() {
        return ("000000" + $scope.data.orderId).slice(-6);
    }
   
  
    $scope.date = new Date();
    
    $scope.regularProducts = [ ];    
    
    $scope.addRegularItem = function() {
        var newItem = { 
            part: "", 
            size: "",
            area: 0,
            method: "",
            cost: 0,
            no: 0,
            picture: "" 
        };
        $scope.regularProducts.push(newItem);
    }
    
    $scope.removeRegularItem = function (id) {
        $scope.errortext = "";    
        $scope.regularProducts.splice(id, 1);
    }
    
    $scope.updateRegularProductCost = function (id) {
        $scope.errortext = "";
        var pd = $scope.regularProducts[id];
        pd.cost = $scope.data.methodsPrice[pd.method] * pd.area;
    }
    
    
    $scope.hardProducts = [ ];
    $scope.addHardItem = function() {
        var newItem = { 
            part: "", 
            type: "",
            no: 0,
            width: 0,
            height: 0,
            square: 0,
            cost: 0, 
        };
        $scope.hardProducts.push(newItem);
    }
    
    $scope.removeHardItem = function (id) {
        $scope.errortext = "";    
        $scope.hardProducts.splice(id, 1);
    }
    
    $scope.updateHardProductCost = function (id) {
        $scope.errortext = "";
        var pd = $scope.hardProducts[id];
        pd.cost = Math.ceil(pd.width*pd.height) * 150;
    }
    
    $scope.getTotal = function () {
        var ret = 0;
        for ( i in $scope.regularProducts ) {
            ret += $scope.regularProducts[i].cost;
        }
        for ( i in $scope.hardProducts ) {
            ret += $scope.hardProducts[i].cost;
        }        
        
        return ret;
    }
    
    $scope.printPage = function() {

        $scope.data.orderId += 1;
        $http.get("http://localhost:8080/io?write=" + encodeURIComponent(JSON.stringify($scope.data)));
        
        document.title = $scope.name + '-' + $scope.phone + '-' + $scope.date.toDateString();
        window.print();
        
        
        
    }
     
});
</script>

</body>
</html>
