<!DOCTYPE html>
<html>
<script src="angular.min.js"></script>
<!--
<script src="ui-bootstrap-tpls-0.13.3.js"></script>
<link href="bootstrap.min.css" rel="stylesheet">
-->
<body>

<div ng-app="ikea" ng-controller="productCtrl">
 
<h1> IKEA WUXI </h1>
<p>Name : <input type="text" ng-model="name"></p>
<p>Address : <input type="text" ng-model="address"></p>
<p>Phone : <input type="text" ng-model="phone"></p>
<p>Date : <input type="date" ng-model="date"></p>

<h2>Regular Products</h2>
<table>
    <tr>
        <th> Part </th>
        <th> Size </th>
        <th> Number </th>
        <th> Method </th>
        <th> Cost </th>
        <th> No. </th>
        <th> Picture </th>
    </tr>
    <tr ng-repeat="p in regularProducts">
        <td>
            <input list="parts" ng-model="p.part"></input>
            <datalist id="parts">
              <option value="Living Room">
              <option value="Main Bedroom">
              <option value="Secondary Bedroom">
              <option value="Balcony ">
            </datalist>  
        </td>
        <td><input type="number" ng-model="p.size"></td>
        <td><input type="number" ng-model="p.number"></td>
        <td>{{p.method}}</td>
        <td>{{p.cost}}</td>
        <td><input type="text" ng-model="p.no"></td>
        <td><img height="256" width="192" ng-src="image/{{p.no}}.jpg" alt="Image Not Found"/></td>
        <td ng-click="removeRegularItem($index)">×</td>
    </tr>
</table>
<button ng-click="addRegularItem()">Add</button>

<h2>Hard Products</h2>
<table>
    <tr>
        <th> Part </th>
        <th> Type </th>
        <th> No </th>
        <th> Size </th>
        <th> Square </th>
        <th> Cost </th>
    </tr>
    <tr ng-repeat="p in hardProducts">
        <td>
        <input list="parts" ng-model="p.part"></input>
            <datalist id="parts">
              <option value="Living Room">
              <option value="Main Bedroom">
              <option value="Secondary Bedroom">
              <option value="Balcony ">
            </datalist>  
        </td>
        <td>
        <input list="types" ng-model="p.type"></input>
            <datalist id="types">
              <option value="Aluminum Louvers">
              <option value="Roman curtain">
              <option value="Wood blinds">
            </datalist>  
        </td>
        <td><input type="text" ng-model="p.no"></td>
        <td><input type="number" ng-model="p.size" min="0"></td>
        <td><input type="number" ng-model="p.square" min="0"></td>
        <td><input type="number" value={{Math.ceil(p.square)*150}} min="0"></td>
        <td ng-click="removeHardItem($index)">×</td>
    </tr>
</table>

<button ng-click="addHardItem()">Add</button>
</div>
<br></br>
<br></br>

<script>
var app = angular.module('ikea', []);
app.controller('productCtrl', function($scope) {
    $scope.Math=Math;
    $scope.regularProducts = [ ];
    $scope.Parts = [ "Living Room", "Main Bedroom", "Secondary Bedroom", "Balcony " ];
    
    $scope.addRegularItem = function() {
        var newItem = { 
            part: " ", 
            size: 0,
            number: 0,
            method: 0,
            cost: 0,
            no: 0,
            picture: "" 
        };
        $scope.regularProducts.push(newItem);
    }
    
    $scope.removeRegularItem = function (id) {
        $scope.errortext = "";    
        $scope.regularProducts.splice(id, 1);
    }
    
    
    $scope.hardProducts = [ ];
    $scope.addHardItem = function() {
        var newItem = { 
            part: " ", 
            type: " ",
            no: 0,
            size: 0,
            square: 0,
            cost: 0, 
        };
        $scope.hardProducts.push(newItem);
    }
    
    $scope.removeHardItem = function (id) {
        $scope.errortext = "";    
        $scope.hardProducts.splice(id, 1);
    }
    
    
});
</script>

</body>
</html>
